<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="strUserFiles" value="C:\Users\Julian\Documents\Visual Studio 2017\userfiles\PCManalytics\"/>

    <!-- altUser value is fully qualified domain\user : remapped user this is secure because the fully qualified user must be validated on NTLM
    before they are mapped by the app to the altUser value.  Used for testing-->
    <add key="altUser" value="EMEA-DSMAIN\V817353x:V111222"/>


  </appSettings>
  <connectionStrings>
    <!-- two databases, sConn contains user profiles -->
    <add name="sConn" connectionString="PROVIDER=MICROSOFT.JET.OLEDB.4.0;DATA SOURCE=c:\inetpub\wwwroot\db\PrimebillerTEST2003_dev.mdb;"/>
    <add name="sData" connectionString="PROVIDER=MICROSOFT.JET.OLEDB.4.0;DATA SOURCE=C:\Users\Julian\Documents\Visual Studio 2017\source\PCManalytics\PrimebillerData.mdb;"/>

 
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="10240" />
    
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
